In [1]:
import pandas as pd
import numpy as np

In [2]:
news_website = pd.read_csv("NEWS_WEBSITE_2024.csv")

In [3]:
news_website.head()

,NewsId,CreateDate,Source,Source_Type,Stock,Topic,Link
0,E524A610-DBA7-4106-BBCB-93EF9DABFD89,01/01/2024 00:00,Pantip Sinthorn,Webboard,NEW,?????????? บ้าบอคอหุ้น? ?????? Happy New Year ...,https://pantip.com/topic/42432739
1,AC2CA279-9810-4C60-890F-E6D5AE4ADD62,01/01/2024 02:04,Pantip Sinthorn,Webboard,NEW,ตลาดหุ้นไทย ปีหน้าจะยังไง ก็ไม่รู้เลย แต่หากเป...,https://pantip.com/topic/42432838
2,AEAD9735-B348-4369-98A3-63C56B1FAA8E,01/01/2024 06:49,Pantip Sinthorn,Webboard,OR,OR หุ้นไฮไลท์สายบุญ ประจำปี 2567... สายบุญอย...,https://pantip.com/topic/42432949
3,DFE3A225-9497-4D95-A8F6-EF0C621C1D9A,01/01/2024 12:40,ข่าวหุ้นธุรกิจ,Website,BBL,นโยบายรัฐปี 67 หนุน “แบงก์” โบรกชู BBL-KTB รับ...,https://www.kaohoon.com/news/646247
4,796B824A-32DC-41A4-A058-6B240949F243,01/01/2024 12:40,ข่าวหุ้นธุรกิจ,Website,KTB,นโยบายรัฐปี 67 หนุน “แบงก์” โบรกชู BBL-KTB รับ...,https://www.kaohoon.com/news/646247

In [4]:
news_website = news_website.drop(columns=['NewsId'])

In [5]:
news_website

,CreateDate,Source,Source_Type,Stock,Topic,Link
0,01/01/2024 00:00,Pantip Sinthorn,Webboard,NEW,?????????? บ้าบอคอหุ้น? ?????? Happy New Year ...,https://pantip.com/topic/42432739
1,01/01/2024 02:04,Pantip Sinthorn,Webboard,NEW,ตลาดหุ้นไทย ปีหน้าจะยังไง ก็ไม่รู้เลย แต่หากเป...,https://pantip.com/topic/42432838
2,01/01/2024 06:49,Pantip Sinthorn,Webboard,OR,OR หุ้นไฮไลท์สายบุญ ประจำปี 2567... สายบุญอย...,https://pantip.com/topic/42432949
3,01/01/2024 12:40,ข่าวหุ้นธุรกิจ,Website,BBL,นโยบายรัฐปี 67 หนุน “แบงก์” โบรกชู BBL-KTB รับ...,https://www.kaohoon.com/news/646247
4,01/01/2024 12:40,ข่าวหุ้นธุรกิจ,Website,KTB,นโยบายรัฐปี 67 หนุน “แบงก์” โบรกชู BBL-KTB รับ...,https://www.kaohoon.com/news/646247
...,...,...,...,...,...,...
14385,03/07/2024 16:13,Pantip Sinthorn,Webboard,EA,EA NEX BYD ความซวย...ที่มาจากยุคมืด!การเงินการ...,https://pantip.com/topic/42819937
14386,03/07/2024 16:13,Pantip Sinthorn,Webboard,NEX,EA NEX BYD ความซวย...ที่มาจากยุคมืด!การเงินการ...,https://pantip.com/topic/42819937
14387,03/07/2024 16:15,Pantip Sinthorn,Webboard,YGG,ygg ลงมาซะฟลอเชียวส่องงบกันหน่อยการลงทุนการเงิ...,https://pantip.com/topic/42819941
14388,03/07/2024 16:22,RYT9,Website,KBANK,KBank Private Banking แนะจัดพอร์ตกระจายเสี่ยง ...,https://www.ryt9.com/s/iq05/3529078
14389,03/07/2024 16:22,RYT9,Website,SAV,"นักวิเคราะห์คาด ""SAV"" กำไร Q2 เติบโต ทำจุดสูงส...",https://www.ryt9.com/s/prg/3529069

In [6]:
news_social = pd.read_csv("NEWS_SOCIAL_2024.csv")

In [7]:
news_social.head()

,FaceNewsId,CreateDate,Source,Source_Type,Stock,Topic,Link
0,5E0C3335-A0BF-4C7A-997D-EE4DE86A04CD,01/01/2024 06:00,Facebook,Social,NEW,HAPPY NEW YEAR 2024?????ขอให้ทุกคนสุขภาพแข็งแร...,https://www.facebook.com/439172446261670_69551...
1,7DA0533D-5F4F-4770-8BF1-632EC2912D2A,01/01/2024 08:00,Facebook,Social,NEW,?? Happy New Year 2024 ??,https://www.facebook.com/156091578069821_69691...
2,1875DC6A-2285-4C5D-9B2B-2145EA558C93,01/01/2024 08:29,Facebook,Social,AI,แม้ AI จะปฏิเสธการตอบคำถามเกี่ยวกับตลาดหุ้นตรง...,https://www.facebook.com/611338052301039_75967...
3,FACE1871-DD11-4812-8CB8-1D7C6A0DD759,01/01/2024 08:30,Facebook,Social,AAI,กลุ่มอาหารสัตว์ส่งออกฟื้นตัว หนุนผลงานหุ้นกลุ่...,https://www.facebook.com/690123364373151_86568...
4,3BA1ECFC-6248-4D8F-B44C-8973B27E29A4,01/01/2024 08:30,Facebook,Social,ITC,กลุ่มอาหารสัตว์ส่งออกฟื้นตัว หนุนผลงานหุ้นกลุ่...,https://www.facebook.com/690123364373151_86568...

In [8]:
news_social = news_social.drop(columns=['FaceNewsId'])

In [9]:
news_social

,CreateDate,Source,Source_Type,Stock,Topic,Link
0,01/01/2024 06:00,Facebook,Social,NEW,HAPPY NEW YEAR 2024?????ขอให้ทุกคนสุขภาพแข็งแร...,https://www.facebook.com/439172446261670_69551...
1,01/01/2024 08:00,Facebook,Social,NEW,?? Happy New Year 2024 ??,https://www.facebook.com/156091578069821_69691...
2,01/01/2024 08:29,Facebook,Social,AI,แม้ AI จะปฏิเสธการตอบคำถามเกี่ยวกับตลาดหุ้นตรง...,https://www.facebook.com/611338052301039_75967...
3,01/01/2024 08:30,Facebook,Social,AAI,กลุ่มอาหารสัตว์ส่งออกฟื้นตัว หนุนผลงานหุ้นกลุ่...,https://www.facebook.com/690123364373151_86568...
4,01/01/2024 08:30,Facebook,Social,ITC,กลุ่มอาหารสัตว์ส่งออกฟื้นตัว หนุนผลงานหุ้นกลุ่...,https://www.facebook.com/690123364373151_86568...
...,...,...,...,...,...,...
15813,03/07/2024 15:58,Facebook,Social,BDMS,"หยวนต้า ให้น้ำหนักหุ้นโรงพยาบาล ""มากกว่าตลาด"" ...",https://www.facebook.com/194530663987318_87412...
15814,03/07/2024 16:17,Facebook,Social,GRAND,3 การไฟฟ้า ชูแนวคิด Green Energy & Reliability...,https://www.facebook.com/182927663813_86837197...
15815,03/07/2024 16:17,Facebook,Social,GREEN,3 การไฟฟ้า ชูแนวคิด Green Energy & Reliability...,https://www.facebook.com/182927663813_86837197...
15816,03/07/2024 16:17,Facebook,Social,SMART,3 การไฟฟ้า ชูแนวคิด Green Energy & Reliability...,https://www.facebook.com/182927663813_86837197...
15817,03/07/2024 16:28,Facebook,Social,PLT,????Gossip - PLT สร้างปรากฏการณ์ครั้งใหญ่ ลุยข...,https://www.facebook.com/2195576304002317_9783...

In [10]:
news_combine = pd.concat([news_social, news_website], ignore_index=True)

In [11]:
news_combine['CreateDate'] = pd.to_datetime(news_combine['CreateDate'], dayfirst=True, errors='coerce')

# Sort by CreateDate in ascending order
news = news_combine.sort_values(by='CreateDate', ascending=True)

In [12]:
news['CreateDate'] = pd.to_datetime(news['CreateDate'])

# Create new 'Date' column
news['Date'] = news['CreateDate'].dt.date

In [13]:
news

,CreateDate,Source,Source_Type,Stock,Topic,Link,Date
15818,2024-01-01 00:00:00,Pantip Sinthorn,Webboard,NEW,?????????? บ้าบอคอหุ้น? ?????? Happy New Year ...,https://pantip.com/topic/42432739,2024-01-01
15819,2024-01-01 02:04:00,Pantip Sinthorn,Webboard,NEW,ตลาดหุ้นไทย ปีหน้าจะยังไง ก็ไม่รู้เลย แต่หากเป...,https://pantip.com/topic/42432838,2024-01-01
0,2024-01-01 06:00:00,Facebook,Social,NEW,HAPPY NEW YEAR 2024?????ขอให้ทุกคนสุขภาพแข็งแร...,https://www.facebook.com/439172446261670_69551...,2024-01-01
15820,2024-01-01 06:49:00,Pantip Sinthorn,Webboard,OR,OR หุ้นไฮไลท์สายบุญ ประจำปี 2567... สายบุญอย...,https://pantip.com/topic/42432949,2024-01-01
1,2024-01-01 08:00:00,Facebook,Social,NEW,?? Happy New Year 2024 ??,https://www.facebook.com/156091578069821_69691...,2024-01-01
...,...,...,...,...,...,...,...
15814,2024-07-03 16:17:00,Facebook,Social,GRAND,3 การไฟฟ้า ชูแนวคิด Green Energy & Reliability...,https://www.facebook.com/182927663813_86837197...,2024-07-03
15815,2024-07-03 16:17:00,Facebook,Social,GREEN,3 การไฟฟ้า ชูแนวคิด Green Energy & Reliability...,https://www.facebook.com/182927663813_86837197...,2024-07-03
30206,2024-07-03 16:22:00,RYT9,Website,KBANK,KBank Private Banking แนะจัดพอร์ตกระจายเสี่ยง ...,https://www.ryt9.com/s/iq05/3529078,2024-07-03
30207,2024-07-03 16:22:00,RYT9,Website,SAV,"นักวิเคราะห์คาด ""SAV"" กำไร Q2 เติบโต ทำจุดสูงส...",https://www.ryt9.com/s/prg/3529069,2024-07-03
15817,2024-07-03 16:28:00,Facebook,Social,PLT,????Gossip - PLT สร้างปรากฏการณ์ครั้งใหญ่ ลุยข...,https://www.facebook.com/2195576304002317_9783...,2024-07-03

In [14]:
def agg_stocks(group):
    stocks_set = set()
    for stock in group["Stock"]:
        stocks_set.add(stock)
    stocks_set = sorted(stocks_set)

    stocks_list = sorted(group["Stock"].tolist())
    total_count = len(stocks_list)
    max_mentioned = (
        max(set(stocks_list), key=stocks_list.count) if stocks_list else None
    )
    max_mentioned_count = stocks_list.count(max_mentioned)
    return pd.Series(
        [stocks_list, stocks_set, total_count, max_mentioned, max_mentioned_count],
        index=["StockList", "StockSet", "totalCount", "maxMentioned", "maxCount"],
    )

In [15]:
grouped = news.groupby("Date").apply(agg_stocks).reset_index()

# Rename columns for clarity
grouped.rename(columns={"StockList": "stockList"}, inplace=True)

In [16]:
grouped.head(10)

,Date,stockList,StockSet,totalCount,maxMentioned,maxCount
0,2024-01-01,"[AAI, AAI, AI, AI, AOT, AOT, BBL, BIG, DIF, EA...","[AAI, AI, AOT, BBL, BIG, DIF, EA, EKH, GFC, GS...",40,NEW,5
1,2024-01-02,"[AAV, ADVANC, ADVANC, ADVANC, AI, AI, AI, AI, ...","[AAV, ADVANC, AI, ALL, AOT, AQUA, ARROW, ASP, ...",202,KEX,15
2,2024-01-03,"[AAV, AAV, AAV, AEONTS, AGE, AH, AH, AH, AH, A...","[AAV, AEONTS, AGE, AH, AI, AIRA, ALL, AMATA, A...",249,AOT,9
3,2024-01-04,"[A5, AAV, AAV, ACG, ADVANC, AH, AH, AH, AI, AI...","[A5, AAV, ACG, ADVANC, AH, AI, AIRA, ALL, ALPH...",291,SPRC,17
4,2024-01-05,"[A5, A5, AAV, ACG, ADVANC, ADVANC, ADVANC, ADV...","[A5, AAV, ACG, ADVANC, AEONTS, AH, AI, AIRA, A...",212,CRC,13
5,2024-01-06,"[24CS, AAI, AAV, AI, AI, AI, AI, AI, ALL, AMA,...","[24CS, AAI, AAV, AI, ALL, AMA, AOT, AU, AURA, ...",59,AI,5
6,2024-01-07,"[ADVANC, AI, AMA, AOT, AP, AP, B, BBL, BC, BIG...","[ADVANC, AI, AMA, AOT, AP, B, BBL, BC, BIG, BJ...",50,ITD,3
7,2024-01-08,"[ADVANC, AF, AGE, AI, AI, AI, AI, AI, AI, AI, ...","[ADVANC, AF, AGE, AI, AIRA, ALL, AMANAH, AMATA...",270,ITD,33
8,2024-01-09,"[AAV, AAV, AAV, ADVANC, ADVANC, ADVANC, AEONTS...","[AAV, ADVANC, AEONTS, AF, AH, AI, ALL, AMATA, ...",252,ITD,15
9,2024-01-10,"[AAV, ADVANC, AI, AI, AI, AI, AI, AIRA, AMC, A...","[AAV, ADVANC, AI, AIRA, AMC, AOT, AP, ASP, ASW...",259,KBANK,9

In [17]:
# grouped.to_csv("counted_news.csv")

In [18]:
shifted_df = grouped.shift(1)
shifted_df.iloc[-1] = grouped.iloc[-1]
shifted_df["Date"] = grouped["Date"]

In [19]:
shifted_df.head(10)

,Date,stockList,StockSet,totalCount,maxMentioned,maxCount
0,2024-01-01,None,None,NaN,None,NaN
1,2024-01-02,"[AAI, AAI, AI, AI, AOT, AOT, BBL, BIG, DIF, EA...","[AAI, AI, AOT, BBL, BIG, DIF, EA, EKH, GFC, GS...",40.0,NEW,5.0
2,2024-01-03,"[AAV, ADVANC, ADVANC, ADVANC, AI, AI, AI, AI, ...","[AAV, ADVANC, AI, ALL, AOT, AQUA, ARROW, ASP, ...",202.0,KEX,15.0
3,2024-01-04,"[AAV, AAV, AAV, AEONTS, AGE, AH, AH, AH, AH, A...","[AAV, AEONTS, AGE, AH, AI, AIRA, ALL, AMATA, A...",249.0,AOT,9.0
4,2024-01-05,"[A5, AAV, AAV, ACG, ADVANC, AH, AH, AH, AI, AI...","[A5, AAV, ACG, ADVANC, AH, AI, AIRA, ALL, ALPH...",291.0,SPRC,17.0
5,2024-01-06,"[A5, A5, AAV, ACG, ADVANC, ADVANC, ADVANC, ADV...","[A5, AAV, ACG, ADVANC, AEONTS, AH, AI, AIRA, A...",212.0,CRC,13.0
6,2024-01-07,"[24CS, AAI, AAV, AI, AI, AI, AI, AI, ALL, AMA,...","[24CS, AAI, AAV, AI, ALL, AMA, AOT, AU, AURA, ...",59.0,AI,5.0
7,2024-01-08,"[ADVANC, AI, AMA, AOT, AP, AP, B, BBL, BC, BIG...","[ADVANC, AI, AMA, AOT, AP, B, BBL, BC, BIG, BJ...",50.0,ITD,3.0
8,2024-01-09,"[ADVANC, AF, AGE, AI, AI, AI, AI, AI, AI, AI, ...","[ADVANC, AF, AGE, AI, AIRA, ALL, AMANAH, AMATA...",270.0,ITD,33.0
9,2024-01-10,"[AAV, AAV, AAV, ADVANC, ADVANC, ADVANC, AEONTS...","[AAV, ADVANC, AEONTS, AF, AH, AI, ALL, AMATA, ...",252.0,ITD,15.0

In [20]:
shifted_df["stockList"] = shifted_df["stockList"].apply(
    lambda x: x if x is not None else []
)

In [21]:
shifted_df["3DaySet"] = [set() for _ in range(len(shifted_df))]

In [22]:
for i in range(len(shifted_df)):
    p3set = set()
    for j in range(max(0, i - 2), i + 1):
        p3set.update(shifted_df.at[j, "stockList"])
    shifted_df.at[i, "3DaySet"] = sorted(p3set)

In [23]:
shifted_df

,Date,stockList,StockSet,totalCount,maxMentioned,maxCount,3DaySet
0,2024-01-01,[],None,NaN,None,NaN,[]
1,2024-01-02,"[AAI, AAI, AI, AI, AOT, AOT, BBL, BIG, DIF, EA...","[AAI, AI, AOT, BBL, BIG, DIF, EA, EKH, GFC, GS...",40.0,NEW,5.0,"[AAI, AI, AOT, BBL, BIG, DIF, EA, EKH, GFC, GS..."
2,2024-01-03,"[AAV, ADVANC, ADVANC, ADVANC, AI, AI, AI, AI, ...","[AAV, ADVANC, AI, ALL, AOT, AQUA, ARROW, ASP, ...",202.0,KEX,15.0,"[AAI, AAV, ADVANC, AI, ALL, AOT, AQUA, ARROW, ..."
3,2024-01-04,"[AAV, AAV, AAV, AEONTS, AGE, AH, AH, AH, AH, A...","[AAV, AEONTS, AGE, AH, AI, AIRA, ALL, AMATA, A...",249.0,AOT,9.0,"[AAI, AAV, ADVANC, AEONTS, AGE, AH, AI, AIRA, ..."
4,2024-01-05,"[A5, AAV, AAV, ACG, ADVANC, AH, AH, AH, AI, AI...","[A5, AAV, ACG, ADVANC, AH, AI, AIRA, ALL, ALPH...",291.0,SPRC,17.0,"[A5, AAV, ACG, ADVANC, AEONTS, AGE, AH, AI, AI..."
...,...,...,...,...,...,...,...
180,2024-06-29,"[AAI, AAI, ADB, ADB, ADVANC, AHC, AI, AI, AI, ...","[AAI, ADB, ADVANC, AHC, AI, AIT, ALL, AMATA, A...",285.0,EA,49.0,"[24CS, A5, AAI, ACE, ADB, ADD, ADVANC, AHC, AI..."
181,2024-06-30,"[AI, AI, AI, AI, AI, AOT, AP, BBGI, BDMS, BDMS...","[AI, AOT, AP, BBGI, BDMS, BEM, BGRIM, BTG, CEN...",70.0,HEALTH,6.0,"[24CS, A5, AAI, ADB, ADD, ADVANC, AHC, AI, AIT..."
182,2024-07-01,"[ADD, ADVANC, AI, AI, AI, AI, AI, ALL, BGRIM, ...","[ADD, ADVANC, AI, ALL, BGRIM, BTC, BTS, BYD, C...",57.0,AI,5.0,"[AAI, ADB, ADD, ADVANC, AHC, AI, AIT, ALL, AMA..."
183,2024-07-02,"[ADD, ADD, ADVANC, ADVANC, ADVANC, ADVICE, AEO...","[ADD, ADVANC, ADVICE, AEONTS, AI, AJA, ALL, AM...",310.0,EA,31.0,"[ADD, ADVANC, ADVICE, AEONTS, AI, AJA, ALL, AM..."
184,2024-07-03,"[ADVANC, AI, AMA, AMA, AOT, AOT, AOT, AOT, AOT...","[ADVANC, AI, AMA, AOT, AQUA, AS, ASW, BANPU, B...",208.0,YGG,14.0,"[ADD, ADVANC, ADVICE, AEONTS, AI, AJA, ALL, AM..."

In [24]:
shifted_df.to_csv("counted_news.csv")